@font-face {
    font-family: 'SourceHanSerifSC';
    src: url('SourceHanSerifSC-VF.ttf') format('truetype'); /* 为不同浏览器提供不同格式的字体文件 */
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'SourceHanSerifSC';
    
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.begin-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    color: #fff;
    padding-bottom: 8px;
}

.begin-wrap p {
    color: #ccc;
    font-size: 2.5vh;
}

.begin-wrap p:nth-child(2) {
    margin-bottom: 10vh;
}

.begin-wrap h2, .c2cBox p {
    font-size: 4vh;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid #000;
    display: inline;
}
.c2cBox p {
    font-weight: 700;
}
.begin-wrap h2:hover {
    border-bottom: 1px solid white;
    /* 设置下划线 */
}

video {
    transition: opacity 1s ease-in-out;
}

.c2cBox, .c3cBox{
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
.c2cBox h2{
    width: 100vh;
    height: auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translateX(-50%);
    font-weight: normal;
    text-align: center;
    font-size: 3vh;
}
.c3cBox h2{
    text-align: center;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: normal;
    line-height: 4vh;
    padding-top: 8vh;
    font-size: 3vh;
}
.c2cBox p{
    width: auto;
    height: auto;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    bottom: 10vh;
}
.c2cBox p:hover {
    border-bottom: 1px solid white;
}

.button-wrap, .button3-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 14vh 20vh;
    box-sizing: border-box;
}
.button-wrap{
    margin-left: 20vh;
    margin-top: -3vh;
}

.button-wrap .item {
   width: 26%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button-wrap img {
    width: auto;
    height: calc(100% - 10vh);
    cursor: pointer;
}
.c21 img{
    height: calc(100% - 18vh);
}
.c22 img, 
.c24 img{
    width: auto;
    height: calc(100% - 15vh);
    cursor: pointer;
}
.c23,.c26{
    margin-left: -4vh;
}
.c24, .c25, .c26{
    margin-top: 1vh;
}
.button3-wrap{
    margin-top: -8vh;
}
.button3-wrap .item {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .button3-wrap .item p{
    text-align: center;
    font-weight: 700;
    margin-top: 8px;
    height: 12vh;
    line-height: 3vh;
    font-size: 3vh;
    font-family: 'Microsoft YaHei';
    font-weight: 700;
 }
 .button3-wrap img {
     width: auto;
     height: auto;
     cursor: pointer;
 }

 #end h2, #end p{
    height: auto;
    width: auto;
    color: #fff;
 }
 #end h2{
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 8vh;
    margin-bottom: 5vh;
 }
 #end p{
    width: 100%;
    text-align: center;
    font-size: 3vh;
    margin-bottom: 5vh;
 }
 #end{
    display: none;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
 }
 #end {
    /* background-color: #000; */
    position: absolute;
    top: 0;
 }

 .c26{
    flex-direction: column;
    padding-top: 3vh;
 }
 .c26 img{
    width: 10vh;
    height: 10vh;
}
.c26 p{
    position: relative;
    white-space: wrap;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    font-size: 3vh;
    font-weight: normal;
    width: 17vh;
    border: none;
    margin-top: 1vh;
}
.c26 p:hover{
    border: none;
}